# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a


*Debug*
*Release*
*SFML*
*Thor*
*include*
*.suo
*.sdf
*.vsp
*.cd
*.db
*.dgml
*.opensdf